---
import Section from "./Section.astro"

interface Props {
  data: any;
  sectionTitle: string;
}

const { data, sectionTitle } = Astro.props

---
<Section title={sectionTitle} >
  <ul class="flex flex-col gap-4">
    {
      data.map(({ name, startDate, endDate, position, summary }: any) => {
        const workPeriod = `${startDate} - ${endDate}`
        return (
          <li>
            <article>
              <header class="flex justify-between items-start mb-1">
                <div>
                  <h3 class="font-semibold text-[#111] dark:text-[#ddd]">{name}</h3>
                  <h4 class="font-medium text-[#222] dark:text-[#ccc]">{position}</h4>
                </div>
                <time class="text-[0.85rem] text-[#555] dark:text-[#ccc]">{workPeriod}</time>
              </header>
              <footer>
                <p class="text-[#555] dark:text-[#ccc]">{summary}</p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
<Section />